.text-center {
    text-align: center !important;
}

.hero__lead {
    font-family: Source Sans Pro,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    color: $primary-dark;
}

.mx-auto {
    margin: 0 auto !important;
}